@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  background: url("calculator.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items:center;
}
.calculator{
    border: 1px solid #3374ed;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(160, 21, 240, 0.5);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #0c0c0c;
}
input::placeholder{
    color: #0c0c0c;
}
button,input{
-webkit-tap-highlight-color: transparent; /* For Safari */
appearance: none;
outline: none;
box-shadow: none;
     }
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #0c0c0c;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
button.active:hover {
  background-color: #2f086a;
}

/* Apply the hover effect only for non-touch devices or when the button is being actively touched */
@media (hover: hover) {
  button:hover {
    background-color: #9c5ed5;
  }
}
.equalBtn{
    background-color: #fb1414;
}
.equalBtn.active:hover{
    background-color:#ff0d0d ;
}
.operator{
    color: #b72022;
}
#copyright{
  text-align: center;
  width: 100%;
  background-color: azure;
  position: fixed;
  bottom: -1px;
  padding-top:5px;
  padding-bottom:5px;
}
#name{
  color: #0a0a0a;
  text-decoration: none;
  font-weight: 600;
}
#name:hover{
  color:rgba(30, 30, 169, 0.387)
}
.heart{
  color:red;
}